*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: #FFF59F;
    background: linear-gradient(rgba(1, 53, 6, 0.8), rgba(5, 90, 120, 0.60)), url('main_menu.jpg') no-repeat;
    background-size: auto 100vh;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}
header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 8%;
    background-color: transparent;
    font-size: 16px;
    background-color: #0F1621;
}
h2{
    font-size: 40px;
    margin-bottom: 20px;
    color: #F5F5F5;
}
h5{
    text-align: justify;
    font-size: 20px;
    font-weight: 200;
    color: #F5F5F5;
}
.member h5{
    color: #0F1621;
}
.navlist{
    display: flex;
    transition: all 0.6 ease;
}
.navlist a{
    color: #F5F5F5;
    font-weight: 200;
    margin-left: 40px;
    border-bottom: 2px solid transparent;
    transition: all .25s ease;
    text-transform: uppercase;
}
.navlist a:hover{
    border-bottom: 2px solid white;
}
.navlist i{
    display: none;
}
.brand-logo{
    font-weight: 800;
    color: #FAFF00;
}
#menu-icon-container{
    border-radius: 40px;
    background-color: #C26969;
    color: #0F1621;
    width: 60px;
    height: 60px;
    display: none;
}
#menu-icon{
    padding-left: 5px;
    padding-top: 5px;
    font-size: 48px;
    align-items: center;
    cursor: pointer;
}
.main-content{
    margin: 150px auto;
    width: 86%;
}
.about-us{
    width: 40%;
    margin-bottom: 50px;
}
.our-goal{
    width: 40%;
    position: relative;
    margin-bottom: 100px;
    left: 60%;
}
.our-goal li{
    list-style-type:decimal;
    margin-top: 5px;
    text-align: justify;
}
.our-goal ol{
    margin: 10px 40px;
}
.our-team{
    width: 80%;
    margin: 50px auto;
    text-align: center;
}
.image-container{
    height: 420px;
    width: 420px;
    background-color: #6d6d6d;
    border-radius: 25px;
    margin-bottom: 30px;
}
.team-member{
    margin: 0px 25px 30px 25px;
    display: flex;
    justify-content: space-between;
    columns: 30px;
    align-items: flex-start;
    column-gap: 30px;
}
.member{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    background-color: rgba(240,240,240,0.75);
    padding: 20px 30px;
    height: 280px;
    transition: all 0.3s ease;
}
.member:hover{
    transform: translateY(-5px);
}
.member-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #c4c4c4;
    margin: 0px auto;
}
.member h5{
    margin-top: 20px;
    text-align: center;
    
}
.contact-us{
    width: 40%;
    margin: 180px auto;
}
.contact-us h2{
    text-align: center;
    margin-bottom: 60px;
}
.contact{
    font-size: 48px;
    text-align: center;
}
.contact-icons{
    display: grid;
    row-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    color: #F5F5F5;
    
}
.member-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.contact-icons i{
    transition: 0.3s ease all;
}
.contact-icons i:hover {
    transform:  translate(-3px,-3px);
    text-shadow: 2px 2px 4px #0F1621;
    cursor: pointer;
}
.contact-member{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    column-gap: 10px;
}
.contact-member i{
    font-size: 24px;
    transition: all 0.3s ease;
}
.contact-member i:hover{
    cursor: pointer;
    transform: translate(-3px,-3px);
    text-shadow: 1px 1px #54647d;
}
.footer{
    background-color: #0F1621;
    width: 100%;
    height: 50px;
    position: relative;
    bottom: 0px;
}
@media(max-width: 980px){
    #menu-icon-container{
        display: block;
        margin-right: 10px;
    }
    .navlist{
        margin-top: 0;
        position: absolute;
        top: 100%;
        right: -100%;
        width: 100%;
        background-color: #F5F5F5;
        display: flex;
        flex-direction: column;
        padding: 70px 20px 30px 20px;
    }
    .description-box{
        margin-top: 15%;
    }
    .brand-logo{
        font-size: 24px;
    }
    .navlist a{
        font-weight: 400;
        font-size: 32px;
    }
    .navlist.open{
        right: 0;
    }
    .line-separator{
        width: 100%;
        height: 10px;
    }
    .navlist a{
        color: #0F1621;
    }
    .navlist li{
        display: flex;
        align-items: baseline;
        margin-left: 20px;
        margin-bottom:  30px;
    }
    .navlist i{
        font-size: 40px;
        display: block;
    }
    .navlist a:hover{
        border-bottom: 2px solid #0F1621;
    }
}
@media only screen and (min-height: 1180px){
    .main-content{
        margin-top: 30%;
    }
    h2{
        font-size: 40px;
    }
    .about-us{
        width: 70%;
        margin-bottom: 150px;
    }
    .our-goal{
        width: 65%;
        left:30%;
        text-align: right;
    }
    .about-us h5{
        font-size: 24px;
    }
    .our-goal h5{
        font-size: 24px;
    }
    .our-team{
        margin: 0;
        width: 100%;
    }
    .team-member{
        margin: 20px auto;
    }
    .contact-us{
        width: 60%;
    }
    .contact-us h2{
        font-size: 64px;
    }
    .our-team h2{
        font-size: 64px;
        margin-bottom: 40px;
    }
    .member{
        justify-content: space-between;
    }
    .contact-icons{
        column-gap: 60px;
    }
    .member h5{
        margin-top: 0;
    }
    .contact-icons i{
        font-size: 80px;
    }
    .member h5{
        font-weight: 600;
        font-size: 16px;
    }
    .contact-member{
        margin-top: 20px;
    }
    .contact-member i{
        font-size: 24px;
    }
    .member-image{
        width: 120px;
        height: 120px;
    }
}
@media only screen and (min-height: 740px){
    .our-goal{
        left: 0%;
        width: 70%;
    }
    .our-goal h2{
        text-align: left;
    }
    .footer{
        height: 100px
    }
    .team-member{
        flex-wrap: wrap;
        row-gap: 80px;
    }
    .member
    {
        flex-basis: 40%;
    }
    .member h5{
        font-size: 24px;
    }
    .member-image{
        width: 130px;
        height: 130px;
    }
    .contact-member{
        margin-top: 0px;
    }
    .contact-member i{
        font-size: 32px;
    }
}